body {
  background-color: #2970CA;
  color: #E8F1F2;
  font-family: "Berlin Sans FB", Times, serif;
  align-content:center;
}

h2{
  font-family: "Eras ITC", Times, serif;
  align-content:center;
}

form{
  max-width: 150px;
}

a{
  color: #f3d400;
}
